# Travel Planner location recommendation algorithm prototype

Step 1: Set up our environment and load in required packages

In [1]:
import pandas as pd
import numpy as np
import time as tm

Step 2: Read in data

In [17]:
data_pwd = "../../Data/Sydney.xlsx"
db = pd.read_excel(data_pwd, sheet_name = 0, header = 0)
db.head(5)

,name,category,location,timezone_type,timezone,latitude,longtitude,postcode,free_f,cost_min,...,wed_c,thurs_o,thurs_c,fri_o,fri_c,sat_o,sat_c,sun_o,sun_c,ready_f
0,Mogo Zoo,Theme Park,Sydney,UTC,10,-35.78217,150.11169,2536.0,0.0,19.0,...,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,1
1,Sydney Aquarium,Theme Park,Sydney,UTC,10,-33.86993,151.20203,2000.0,0.0,39.0,...,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,1
2,University of Sydney,Culture,Sydney,UTC,10,-33.88778,151.18722,2006.0,1.0,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
3,The University of New South Wales,Culture,Sydney,UTC,10,-33.92350,151.22620,2052.0,1.0,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
4,Chifley Tower,Shopping,Sydney,UTC,10,-33.86590,151.21200,2000.0,1.0,NaN,...,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,1

In [18]:
db.dtypes

name              object
category          object
location          object
timezone_type     object
timezone           int64
latitude         float64
longtitude       float64
postcode         float64
free_f           float64
cost_min         float64
cost_max         float64
indoor_f         float64
outdoor_f        float64
family_f         float64
mon_o             object
mon_c             object
tues_o            object
tues_c            object
wed_o             object
wed_c             object
thurs_o           object
thurs_c           object
fri_o             object
fri_c             object
sat_o             object
sat_c             object
sun_o             object
sun_c             object
ready_f            int64
dtype: object

Step 3: Prepare our dataset for usage

In [19]:
db = db[db['ready_f'] == 1]
db[['name', 'category', 'location','timezone_type']] = db[['name', 'category', 'location','timezone_type']].astype(str)
db[['timezone', 'postcode']] = db[['timezone', 'postcode']].astype(int)
db[['latitude', 'longtitude', 'cost_min', 'cost_max']] = db[['latitude', 'longtitude', 'cost_min', 'cost_max']].astype(float)
db[['free_f', 'indoor_f', 'outdoor_f', 'family_f']] = db[['free_f', 'indoor_f', 'outdoor_f', 'family_f']].astype(bool)

In [21]:
db.head(5)

,name,category,location,timezone_type,timezone,latitude,longtitude,postcode,free_f,cost_min,...,wed_c,thurs_o,thurs_c,fri_o,fri_c,sat_o,sat_c,sun_o,sun_c,ready_f
0,Mogo Zoo,Theme Park,Sydney,UTC,10,-35.78217,150.11169,2536,False,19.0,...,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,1
1,Sydney Aquarium,Theme Park,Sydney,UTC,10,-33.86993,151.20203,2000,False,39.0,...,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,1
2,University of Sydney,Culture,Sydney,UTC,10,-33.88778,151.18722,2006,True,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
3,The University of New South Wales,Culture,Sydney,UTC,10,-33.92350,151.22620,2052,True,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
4,Chifley Tower,Shopping,Sydney,UTC,10,-33.86590,151.21200,2000,True,NaN,...,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,1

In [28]:
db['wed_c'][1].hour

18