# Travel Planner location recommendation algorithm prototype

Step 1: Set up our environment and load in required packages

In [2]:
import pandas as pd
import numpy as np
import time as tm
import datetime
import geopy.distance

In [62]:
# Global Constant

opening = ['', 'mon_o', 'tue_o', 'wed_o','thurs_o', 'fri_o', 'sat_o', 'sun_o']
closing = ['', 'mon_c', 'tue_c', 'wed_c','thurs_c', 'fri_c', 'sat_c', 'sun_c']

Step 2: Read in data

In [6]:
data_pwd = "/../Data/Sydney.xlsx"
db = pd.read_excel(data_pwd, sheet_name = 0, header = 0)
db.head(5)

,name,category,location,timezone_type,timezone,latitude,longtitude,postcode,free_f,cost_min,...,wed_c,thurs_o,thurs_o.1,fri_o,fri_c,sat_o,sat_c,sun_o,sun_c,ready_f
0,Mogo Zoo,Theme Park,Sydney,UTC,10,-35.78217,150.11169,2536.0,0.0,19.0,...,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,1
1,Sydney Aquarium,Theme Park,Sydney,UTC,10,-33.86993,151.20203,2000.0,0.0,39.0,...,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,1
2,University of Sydney,Culture,Sydney,UTC,10,-33.88778,151.18722,2006.0,1.0,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
3,The University of New South Wales,Culture,Sydney,UTC,10,-33.92350,151.22620,2052.0,1.0,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
4,Chifley Tower,Shopping,Sydney,UTC,10,-33.86590,151.21200,2000.0,1.0,NaN,...,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,1

In [7]:
db.dtypes

name              object
category          object
location          object
timezone_type     object
timezone           int64
latitude         float64
longtitude       float64
postcode         float64
free_f           float64
cost_min         float64
cost_max         float64
indoor_f         float64
outdoor_f        float64
family_f         float64
mon_o             object
mon_c             object
tues_o            object
tues_c            object
wed_o             object
wed_c             object
thurs_o           object
thurs_o.1         object
fri_o             object
fri_c             object
sat_o             object
sat_c             object
sun_o             object
sun_c             object
ready_f            int64
dtype: object

Step 3: Prepare our dataset for usage

In [8]:
db = db[db['ready_f'] == 1]
db[['name', 'category', 'location','timezone_type']] = db[['name', 'category', 'location','timezone_type']].astype(str)
db[['timezone', 'postcode']] = db[['timezone', 'postcode']].astype(int)
db[['latitude', 'longtitude', 'cost_min', 'cost_max']] = db[['latitude', 'longtitude', 'cost_min', 'cost_max']].astype(float)
db[['free_f', 'indoor_f', 'outdoor_f', 'family_f']] = db[['free_f', 'indoor_f', 'outdoor_f', 'family_f']].astype(bool)
db = db.reset_index(drop=True)

In [9]:
db.head(10)

,name,category,location,timezone_type,timezone,latitude,longtitude,postcode,free_f,cost_min,...,wed_c,thurs_o,thurs_o.1,fri_o,fri_c,sat_o,sat_c,sun_o,sun_c,ready_f
0,Mogo Zoo,Theme Park,Sydney,UTC,10,-35.78217,150.11169,2536,False,19.0,...,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,1
1,Sydney Aquarium,Theme Park,Sydney,UTC,10,-33.86993,151.20203,2000,False,39.0,...,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,1
2,University of Sydney,Culture,Sydney,UTC,10,-33.88778,151.18722,2006,True,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
3,The University of New South Wales,Culture,Sydney,UTC,10,-33.92350,151.22620,2052,True,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
4,Chifley Tower,Shopping,Sydney,UTC,10,-33.86590,151.21200,2000,True,NaN,...,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,1
5,Sydney Tower,Culture,Sydney,UTC,10,-33.87050,151.20900,2000,False,20.0,...,21:00:00,09:00:00,21:00:00,09:00:00,21:00:00,09:00:00,21:00:00,09:00:00,21:00:00,1
6,Central Station,Culture,Sydney,UTC,10,-33.88274,151.20646,2000,True,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
7,Parliament House,Culture,Sydney,UTC,10,-33.86730,151.21300,2000,True,NaN,...,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1
8,Parliament House Tour,Culture,Sydney,UTC,10,-33.87320,151.20600,2000,True,NaN,...,00:00:00,00:00:00,00:00:00,13:30:00,13:30:00,00:00:00,00:00:00,00:00:00,00:00:00,1
9,Sydney Town Hall,Culture,Sydney,UTC,10,-33.87320,151.20600,2000,True,NaN,...,18:00:00,08:00:00,18:00:00,08:00:00,18:00:00,00:00:00,00:00:00,00:00:00,00:00:00,1

In [10]:
db['wed_c'][1].hour

18

Step 4: Building our functions

In [11]:
# Our web app or mobile app should auto detect user lat long and ask for a number of inputs from user
def usr_init(usr_lat, usr_long):
    usr_init_ls = []
    print("Tell us something about how you would like your trip to be set up!")
    print("Which day are you planning for?")
    day = input()
    print("Your trip will start from:")
    begin_hr = input()
    print("Your trip will end at:")
    end_hr = input()
    print("How many locations would you like to visit?")
    loc_count = input()
    print("How much time would you allow for travelling in total (in hours)?")
    trv_time = input()
    print("Thanks for the information! We will now crunch some numbers and find locations that best suit your requirements!")
    usr_init_ls = [float(usr_lat), float(usr_long), int(day), int(begin_hr), int(end_hr), int(loc_count), int(trv_time)]
    return(usr_init_ls)

In [24]:
# We save our results from usr_init into usr_init_result which is a list
usr_init_result = usr_init(-33.7704301, 151.0753451)

Tell us something about how you would like your trip to be set up!
Which day are you planning for?
1
Your trip will start from:
29
Your trip will end at:
2
How many locations would you like to visit?
1099
How much time would you allow for travelling in total (in hours)?
24
Thanks for the information! We will now crunch some numbers and find locations that best suit your requirements!

In [43]:
# We save our results from usr_init into usr_init_result which is a list
usr_init_result2 = usr_init(-33.9495212,151.2364637)

Tell us something about how you would like your trip to be set up!
Which day are you planning for?
1
Your trip will start from:
9
Your trip will end at:
5
How many locations would you like to visit?
10
How much time would you allow for travelling in total (in hours)?
2
Thanks for the information! We will now crunch some numbers and find locations that best suit your requirements!

In [46]:
# Demonstration of expected usr_init_result
usr_init_result2

[-33.9495212, 151.2364637, 1, 9, 5, 10, 2]

In [47]:
# Demonstration of distance calculation
coords_1 = (usr_init_result2[0], usr_init_result2[1])
coords_2 = (db['latitude'][1], db['longtitude'][1])
geopy.distance.geodesic(coords_1, coords_2).km

9.385109123464275

In [31]:
# For first location, we should include a travel distance parameter scaled 1-3 to find locations for user
# Should it be a random parameter, or default 1?
def first_loc(usr_init_result, trav_dist = 1):
    db_temp = db
    db_temp['usr_trav_dist'] = np.nan
    for i in range(0, len(db_temp.index)):
        db_temp.iat[i,db_temp.columns.get_loc("usr_trav_dist")] = geopy.distance.geodesic((usr_init_result[0], usr_init_result[1]), 
                                                                         (db_temp['latitude'][i], db_temp['longtitude'][i])).km
    if trav_dist == 1:
        rcmd1 = db_temp[db_temp['usr_trav_dist'] <= 10]
    elif trav_dist == 2:
        rcmd1 = db_temp[db_temp['usr_trav_dist'] <= 30]
    else:
        rcmd1 = db_temp
    return(rcmd1)

In [48]:
# Demonstration of first location finder function
location1 = first_loc(usr_init_result2, 1)
location1.head()

,name,category,location,timezone_type,timezone,latitude,longtitude,postcode,free_f,cost_min,...,thurs_o,thurs_o.1,fri_o,fri_c,sat_o,sat_c,sun_o,sun_c,ready_f,usr_trav_dist
1,Sydney Aquarium,Theme Park,Sydney,UTC,10,-33.86993,151.20203,2000,False,39.0,...,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,1,9.385109
2,University of Sydney,Culture,Sydney,UTC,10,-33.88778,151.18722,2006,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,8.224150
3,The University of New South Wales,Culture,Sydney,UTC,10,-33.92350,151.22620,2052,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,3.038287
4,Chifley Tower,Shopping,Sydney,UTC,10,-33.86590,151.21200,2000,True,NaN,...,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,1,9.547282
5,Sydney Tower,Culture,Sydney,UTC,10,-33.87050,151.20900,2000,False,20.0,...,09:00:00,21:00:00,09:00:00,21:00:00,09:00:00,21:00:00,09:00:00,21:00:00,1,9.125674

The way the code is set up, it has the following assumptions and logical flow:
<ol><li>user first input their preference 
</li><li>we will recommend a first location based on their pref and travel dist metric
</li><li>we recommend the remaining locations based on the first loc chosen
</li></ol>
When we integrate the code with web, the users will simply click buttons or turn some dials to set their preference which will be captured and fed into backend python code

In [49]:
# We need to filter out locations that are not available during the hours specified by the user
def loc_filter(rcmd, usr_init_result):
    cols = []
    if usr_init_result[2] == 1:
        cols = ["mon_o", "mon_c"]
    elif usr_init_result[2] == 2:
        cols = ["tues_o", "tues_c"]
    elif usr_init_result[2] == 3:
        cols = ["wed_o", "wed_c"]
    elif usr_init_result[2] == 4:
        cols = ["thurs_o", "thurs_c"]
    elif usr_init_result[2] == 5:
        cols = ["fri_o", "fri_c"]
    elif usr_init_result[2] == 6:
        cols = ["sat_o", "sat_c"]
    elif usr_init_result[2] == 7:
        cols = ["sun_o", "sun_c"]
    rcmd_fil = rcmd[(rcmd[cols[0]].apply(lambda x: x.hour) < int(usr_init_result[3])) | 
                (rcmd[cols[1]].apply(lambda x: x.hour) > int(usr_init_result[4]))]
    return(rcmd_fil)

In [63]:
# We need to filter out locations that are not available during the hours specified by the user

def loc_filter_mod(rcmd, usr_init_result):

    rcmd_fil = rcmd[(rcmd[opening[usr_init_result[2]]].apply(lambda x: x.hour) < int(usr_init_result[3])) | 
            (rcmd[closing[usr_init_result[2]]].apply(lambda x: x.hour) > int(usr_init_result[4]))]
    
    return(rcmd_fil)

In [64]:
# Demonstration of the loc_filter_mod function
location1_fil_mod = loc_filter_mod(location1, usr_init_result)
location1_fil_mod

,name,category,location,timezone_type,timezone,latitude,longtitude,postcode,free_f,cost_min,...,thurs_o,thurs_o.1,fri_o,fri_c,sat_o,sat_c,sun_o,sun_c,ready_f,usr_trav_dist
1,Sydney Aquarium,Theme Park,Sydney,UTC,10,-33.869930,151.202030,2000,False,39.0,...,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,1,9.385109
2,University of Sydney,Culture,Sydney,UTC,10,-33.887780,151.187220,2006,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,8.224150
3,The University of New South Wales,Culture,Sydney,UTC,10,-33.923500,151.226200,2052,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,3.038287
4,Chifley Tower,Shopping,Sydney,UTC,10,-33.865900,151.212000,2000,True,NaN,...,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,09:30:00,18:00:00,1,9.547282
5,Sydney Tower,Culture,Sydney,UTC,10,-33.870500,151.209000,2000,False,20.0,...,09:00:00,21:00:00,09:00:00,21:00:00,09:00:00,21:00:00,09:00:00,21:00:00,1,9.125674
6,Central Station,Culture,Sydney,UTC,10,-33.882740,151.206460,2000,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,7.910022
7,Parliament House,Culture,Sydney,UTC,10,-33.867300,151.213000,2000,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,9.374647
8,Parliament House Tour,Culture,Sydney,UTC,10,-33.873200,151.206000,2000,True,NaN,...,00:00:00,00:00:00,13:30:00,13:30:00,00:00:00,00:00:00,00:00:00,00:00:00,1,8.922091
9,Sydney Town Hall,Culture,Sydney,UTC,10,-33.873200,151.206000,2000,True,NaN,...,08:00:00,18:00:00,08:00:00,18:00:00,00:00:00,00:00:00,00:00:00,00:00:00,1,8.922091
10,State Library of New South Wales,Culture,Sydney,UTC,10,-33.866370,151.213220,2000,True,NaN,...,09:00:00,20:00:00,09:00:00,17:00:00,11:00:00,17:00:00,11:00:00,17:00:00,1,9.470394
13,Pyrmont Bridge,Culture,Sydney,UTC,10,-33.870660,151.200810,2000,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,9.348176
14,Queen Victoria Building,Shopping,Sydney,UTC,10,-33.871800,151.207000,2000,True,NaN,...,09:00:00,18:00:00,09:00:00,18:00:00,09:00:00,18:00:00,11:00:00,17:00:00,1,9.041273
17,Star City Casino,Entertainment,Sydney,UTC,10,-33.868180,151.195260,2009,False,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,9.794145
19,Chinese Garden of Friendship,Culture,Sydney,UTC,10,-33.888660,151.215820,2000,False,4.0,...,09:30:00,17:00:00,09:30:00,17:00:00,09:30:00,17:00:00,09:30:00,17:00:00,1,7.015497
20,Royal Botanic Gardens,Nature,Sydney,UTC,10,-33.863900,151.217000,2000,True,NaN,...,07:00:00,20:00:00,07:00:00,20:00:00,07:00:00,20:00:00,07:00:00,20:00:00,1,9.666257
22,Chiswick Gardens,Nature,Sydney,UTC,10,-33.890200,151.242910,2025,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,6.606909
28,Captain Cooks Landing Place Historic Site,Culture,Sydney,UTC,10,-34.015200,151.217900,2231,True,NaN,...,07:00:00,19:30:00,07:00:00,19:30:00,07:00:00,19:30:00,07:00:00,19:30:00,1,7.484451
30,Cenotaph,Culture,Sydney,UTC,10,-33.867450,151.207960,2000,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,9.477395
31,Anzac War Memorial,Culture,Sydney,UTC,10,-33.875880,151.211150,2000,True,NaN,...,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,09:00:00,17:00:00,1,8.497178
33,El Alamein Fountain,Attraction,Sydney,UTC,10,-33.872950,151.225140,2011,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,8.557655
34,Elizabeth Bay House,Culture,Sydney,UTC,10,-33.870310,151.226680,2011,False,12.0,...,00:00:00,00:00:00,10:00:00,16:00:00,10:00:00,16:00:00,10:00:00,16:00:00,1,8.832634
35,Bondi Surf Pavilion,Attraction,Sydney,UTC,10,-33.890200,151.277100,2026,True,NaN,...,09:30:00,17:30:00,09:30:00,17:30:00,10:00:00,17:00:00,10:00:00,17:00:00,1,7.577348
36,Bare Island Historic Site,Culture,Sydney,UTC,10,-33.991940,151.230780,2019,False,10.0,...,07:00:00,20:30:00,07:00:00,20:30:00,07:00:00,20:30:00,13:30:00,16:30:00,1,4.734401
42,Shakespeare Place,Culture,Sydney,UTC,10,-33.865850,151.213740,2000,False,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,9.515841
43,Archibald Fountain,Attraction,Sydney,UTC,10,-33.870980,151.211840,2000,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,9.004564
45,Museum of Sydney,Culture,Sydney,UTC,10,-33.863600,151.211000,2000,False,0.0,...,10:00:00,17:00:00,10:00:00,17:00:00,10:00:00,17:00:00,10:00:00,17:00:00,1,9.817100
46,Powerhouse Museum,Culture,Sydney,UTC,10,-33.878600,151.199000,2007,False,0.0,...,10:00:00,17:00:00,10:00:00,17:00:00,10:00:00,17:00:00,10:00:00,17:00:00,1,8.595764
49,Justice and Police Museum,Culture,Sydney,UTC,10,-33.862340,151.212220,2000,False,12.0,...,00:00:00,00:00:00,00:00:00,00:00:00,10:00:00,17:00:00,10:00:00,17:00:00,1,9.926745
50,The Mint Museum,Culture,Sydney,UTC,10,-33.868970,151.212600,2000,True,NaN,...,09:30:00,17:00:00,09:30:00,17:00:00,00:00:00,00:00:00,00:00:00,00:00:00,1,9.203337
51,Hyde Park Barracks Museum,Culture,Sydney,UTC,10,-33.869560,151.212470,2000,False,0.0,...,10:00:00,17:00:00,10:00:00,17:00:00,10:00:00,17:00:00,10:00:00,17:00:00,1,9.142726
52,National Maritime Museum,Culture,Sydney,UTC,10,-33.869280,151.198940,2000,False,0.0,...,09:30:00,17:00:00,09:30:00,17:00:00,09:30:00,17:00:00,09:30:00,17:00:00,1,9.553026
53,Sydney Jewish Museum,Culture,Sydney,UTC,10,-33.878740,151.220340,2010,False,0.0,...,10:00:00,16:30:00,10:00:00,15:30:00,00:00:00,00:00:00,10:00:00,16:00:00,1,7.991449
55,Victoria Barracks Museum,Culture,Sydney,UTC,10,-33.885810,151.223210,2021,False,0.0,...,10:00:00,14:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,1,7.172397
58,Hyde Park,Attraction,Sydney,UTC,10,-33.873480,151.211190,2000,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,8.752412
59,Heffron Park,Sports,Sydney,UTC,10,-33.948500,151.234600,2035,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,0.206183
60,Centennial Park,Nature,Sydney,UTC,10,-33.898500,151.234600,2021,True,NaN,...,06:00:00,17:30:00,06:00:00,17:30:00,06:00:00,17:30:00,06:00:00,17:30:00,1,5.661946
62,Oxford Street,Nightlife,Sydney,UTC,10,-33.879000,151.215000,2010,False,0.0,...,17:00:00,23:59:00,17:00:00,23:59:00,17:00:00,23:59:00,17:00:00,23:59:00,1,8.070179
64,George Street,Shopping,Sydney,UTC,10,-33.875549,151.206558,2000,False,0.0,...,09:00:00,22:00:00,09:00:00,22:00:00,09:00:00,22:00:00,09:00:00,22:00:00,1,8.658694
65,Pitt Street,Shopping,Sydney,UTC,10,-33.869352,151.208327,2000,False,0.0,...,09:00:00,22:00:00,09:00:00,22:00:00,09:00:00,22:00:00,09:00:00,22:00:00,1,9.265387
66,King Street,Nightlife,Sydney,UTC,10,-33.894234,151.182630,2042,False,0.0,...,11:00:00,23:59:00,11:00:00,23:59:00,11:00:00,23:59:00,11:00:00,23:59:00,1,7.898614
75,Bondi Beach,Nature,Sydney,UTC,12,-33.891690,151.277620,2026,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,7.458686
79,Maroubra Beach,Nature,Sydney,UTC,18,-33.948680,151.257230,2035,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,1.921900
81,Bronte Beach,Nature,Sydney,UTC,29,-33.903410,151.268390,2024,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,5.905485
82,Clovelly Beach,Nature,Sydney,UTC,34,-33.913760,151.266680,2031,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,4.851762
87,Tamarama Beach,Nature,Sydney,UTC,98,-33.900500,151.270530,2026,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,6.283990
88,Coogee Beach,Nature,Sydney,UTC,114,-33.920650,151.258290,2034,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,3.785191
90,Fish Market,Lifestyle,Sydney,UTC,130,-33.872989,151.192613,2009,False,0.0,...,07:00:00,16:00:00,07:00:00,16:00:00,07:00:00,16:00:00,07:00:00,16:00:00,1,9.407906
91,Tramsheds,Lifestyle,Sydney,UTC,131,-33.876302,151.178188,2037,False,0.0,...,07:00:00,22:00:00,07:00:00,22:00:00,07:00:00,22:00:00,07:00:00,22:00:00,1,9.746956
93,Blackwattle Bay Reserve,Nature,Sydney,UTC,133,-33.871030,151.184590,2037,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,9.940549

In [34]:
# # Demonstration of the loc_filter function
# location1_fil = loc_filter(location1, usr_init_result)
# location1_fil

,name,category,location,timezone_type,timezone,latitude,longtitude,postcode,free_f,cost_min,...,thurs_o,thurs_o.1,fri_o,fri_c,sat_o,sat_c,sun_o,sun_c,ready_f,usr_trav_dist
92,"Bicentennial Park, Glebe",Nature,Sydney,UTC,132,-33.849300,151.078000,2037,True,NaN,...,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,00:00:00,23:59:00,1,8.751620
96,Macquarie Centre,Shopping,Sydney,UTC,136,-33.776366,151.117856,2113,False,0.0,...,09:30:00,21:00:00,09:30:00,18:00:00,09:30:00,18:00:00,10:00:00,18:00:00,1,3.992465
99,DFO Homebush,Shopping,Sydney,UTC,139,-33.855473,151.076857,2140,False,0.0,...,10:00:00,20:00:00,10:00:00,18:00:00,10:00:00,18:00:00,10:00:00,18:00:00,1,9.433936